@model Aiursoft.MusicExam.Models.AccountingViewModels.IndexViewModel
@{
    ViewData["Title"] = "Accounting";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-line ico"></i>
            @Localizer["System Statistics"]
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-users"></i>
                            </div>
                            <div class="mr-5">@Model.TotalUsers @Localizer["Users"]</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-crown"></i>
                            </div>
                            <div class="mr-5">@Model.PaidUsers @Localizer["Paid Members"]</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-file-signature"></i>
                            </div>
                            <div class="mr-5">@Model.TotalSubmissions @Localizer["Exam Submissions"]</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-question-circle"></i>
                            </div>
                            <div class="mr-5">@Model.TotalQuestionsSubmitted @Localizer["Quizzes Taken"]</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-bar"></i>
                            @Localizer["New Users (Last 30 Days)"]
                        </div>
                        <div class="card-body">
                            <canvas id="usersChart" width="100" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            @Localizer["New Submissions (Last 30 Days)"]
                        </div>
                        <div class="card-body">
                            <canvas id="submissionsChart" width="100" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
    var ctx1 = document.getElementById("usersChart");
    var myLineChart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.ChartLabels)),
            datasets: [{
                label: "All Users",
                backgroundColor: "rgba(2,117,216,1)",
                borderColor: "rgba(2,117,216,1)",
                data: @Html.Raw(Json.Serialize(Model.NewUsersData)),
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'month'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
            legend: {
                display: false
            }
        }
    });

    var ctx2 = document.getElementById("submissionsChart");
    var myLineChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.ChartLabels)),
            datasets: [{
                label: "Submissions",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: @Html.Raw(Json.Serialize(Model.NewSubmissionsData)),
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, .125)",
                    }
                }],
            },
            legend: {
                display: false
            }
        }
    });
</script>
