@model Aiursoft.MusicExam.Models.ChangesViewModels.ActiveUsersViewModel

<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>@Localizer["月接单统计"]</h3>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["月度统计"]</h5>
        <h6 class="card-subtitle text-muted">@Localizer["每月拥有考试权限的用户数量统计"]</h6>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
            <tr>
                <th>@Localizer["月份"]</th>
                <th>@Localizer["接单数量"]</th>
                <th class="text-end">@Localizer["操作"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var report in Model.Reports)
            {
                <tr>
                    <td>@report.Month.ToString("MMMM yyyy")</td>
                    <td>
                        <span class="badge bg-success">@report.ActiveUsers.Count</span>
                    </td>
                    <td class="text-end">
                        <a asp-action="ActiveUsersDetails" asp-route-month="@report.Month.ToString("yyyy-MM-dd")" class="btn btn-sm btn-outline-primary">
                            <i class="align-middle" data-lucide="eye"></i> @Localizer["Details"]
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
